.account-status-popup-container{
    background-color: white;
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}
.account-popup-sub-container{
   text-align: center;
   margin-top: auto;
   margin-bottom: auto;
}
.account-statement{
    padding-bottom: 10px;
    display: block;
    font-size: 24px;
    color: #575757;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.spacebox{
    display: inline;
}
.account-status-popup-ok-btn{
    width: 65px;
    font-size: 16px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    color: white;
  border-radius: 5px;
  background-color: #4490fa;
  outline: none;
  border: none;
  margin-right: 40px;
  cursor: pointer;
}
.account-status-popup-create-transt-btn:hover{
    background-color: #4490fa;
}
.account-status-popup-create-transt-btn{
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background-color: rgba(68, 144, 250, 0.5);
    outline: none;
    border: none;
}
.account-status-popup-btns{
    margin-top: 40px;
}
.account-status-popup-title-box{
    text-align: center;
    margin-bottom: 40px;
    display: block;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404040;
}
.account-status-popup-close{
    position: absolute;
    margin-top: 30px;
    margin-right: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
}